<div id="welcome" class="welcome-page">
    <h1 class="row page-title title-color add-margin">Dynamic Bar Graph</h1>
    <div class="icon-titlepage"></div>
  <div class="row titlepage-content add-margin">
    <div class="medium-4 columns">
        <button type="button" class="btn btn-warning" ng-click="navigateToHomePage()">Show Bar Graph</button>
    </div>
  	<div class="medium-4 columns">
        <button type="button" class="btn btn-warning" ng-click="">Description</button>
  	</div>
  	<div class="medium-4 columns">
        <button type="button" class="btn btn-warning" ng-click="">Code Coverage</button>
  	</div>
  </div>
</div>